.hall-container {
    display: none;
    position: absolute;
    z-index: 0;
}

.chat-message {
    word-wrap: break-word;
}

.chat-message .author.public {

}

.chat-message .author.mine {
    color: blue;
}

.chat-message .author.system {
    color: red;
}
